@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;}

input[type="email"],
input[type="password"] {
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: #CCD4E7;
  
}

.socialIcons > * {
  width: 1.25rem; 
  height: 1.5rem; 
  cursor: pointer;
}

  .overlay {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* Show the overlay on hover */
  .image:hover .overlay {
    opacity: 1;
    display: flex;
    }

  .nav {
    position: relative;
    text-decoration: none;
    transition: color 0.3s; /* Transition for color change */
  }
  
  .nav::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s, width 0.3s; /* Transition for underline */
  }
  
  .nav:hover::before {
    background-color: #3F5CB8; /* Change to your preferred underline color */
    width: 100%; /* Underline width */
  }

  .custom-height {
    min-height: calc(100vh - 64px); /* Subtracting 64px (example height) for the navbar */
  }

.img {
  border-top-left-radius: 80px;
  width: 700px;
  height: auto;
}

.smooth-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.commentImg {
  border-radius: 50%;
  height: 105px;
  width: 105px;
  justify-self: center;
  object-fit: cover;
}

@layer base{
  * {
    font-family: 'Lexend Deca', sans-serif;
  }
  li {
    @apply p-4
  }
  h1 {
    @apply text-lg font-bold text-white text-center
  }
  h2 {
    @apply text-lg 
  }
  h3 {
    @apply font-bold text-3xl tracking-wide
  }
  button {
    @apply px-3 py-2 rounded
  }
  p {
    @apply font-light text-sm
  }
  .heroOverlay {
    @apply absolute w-full h-full max-h-[500px] bg-black/40 flex flex-col items-center rounded-full pt-20 shadow-lg shadow-gray
  }
  .heroImg {
    @apply w-full max-h-[500px] object-cover rounded-full
  }
  .icon {
    @apply text-2xl cursor-pointer
  }
  .nav {
    @apply text-darkGray no-underline hover:text-black
  }
  .sectionTitle {
    @apply flex flex-col items-center mb-7
  }
  .sectionTitle div {
    @apply text-3xl tracking-wide font-bold
  }
  .serviceContainer {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 max-w-[75%] pb-8
  }
  .service {
    @apply py-7 flex flex-col items-center gap-2 rounded-lg hover:bg-white hover:shadow-lg smooth-transition max-w-[280px]
  }
  .service p {
    @apply text-center w-[70%]
  }
  .commentSection {
    @apply max-w-[75%] m-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-0 place-items-center
  }
  .comment {
    @apply rounded p-3 bg-transparent max-w-[350px] min-h-[200px] text-darkGray flex flex-col items-center
  }
  .commentInfo {
    @apply flex flex-col items-center font-light
  }
  .commentInfo span {
    @apply font-bold tracking-wide text-center
  }
  .commentInfo div {
    @apply flex text-yellow text-center
  }
  h6 div {
    @apply cursor-pointer
  }
  .authContainer {
    @apply min-w-[40%] h-auto flex flex-col bg-darkGreen shadow-lg p-10 rounded-xl text-center
  }
  .buttonWhite {
    @apply bg-white border border-darkGreen text-darkGreen hover:bg-darkGreen hover:text-white rounded
  }
  .buttonBlue {
    @apply bg-darkGreen border border-darkGreen hover:bg-blue-800 rounded text-white
  }
  .icon {
    @apply text-darkGreen
  }
  input {
    @apply text-sm outline-none px-2 text-darkGray
  }
  .socialIcons {
    @apply flex gap-4 pt-3
  }
  .tourOverlay {
    @apply h-screen lg:max-h-[400px] w-full absolute bg-black/40 flex flex-col items-center pt-20 shadow-lg
  }
  .tourImg {
    @apply w-full h-screen lg:max-h-[400px] object-cover
  }
  .submitButton {
    @apply rounded-xl h-12 my-4 bg-white border border-darkGreen text-darkGreen hover:bg-white hover:font-bold tracking-widest
  }
  .footerLinks div{
    @apply cursor-pointer
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
