@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;}

  .nav {
    position: relative;
    text-decoration: none;
    transition: color 0.3s; /* Transition for color change */
  }
  
  .nav::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s, width 0.3s; /* Transition for underline */
  }
  
  .nav:hover::before {
    background-color: #3F5CB8; /* Change to your preferred underline color */
    width: 100%; /* Underline width */
  }

  .custom-height {
    min-height: calc(100vh - 64px); /* Subtracting 64px (example height) for the navbar */
  }

.img {
  border-top-left-radius: 80px;
  width: 700px;
  height: auto;
}

.smooth-transition {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.comment {
  border-bottom: 5px;
  border-right: 5px;
}

.commentImg {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  justify-self: center;
}

@layer base{
  * {
    font-family: 'Lexend Deca', sans-serif;
  }
  li {
    @apply p-4
  }
  h1 {
    @apply text-lg
  }
  h2 {
    @apply text-xl font-bold
  }
  h3 {
    @apply text-lg font-bold
  }
  button {
    @apply px-3 py-2 rounded
  }
  p {
    @apply font-light
  }
  .icon {
    @apply text-2xl cursor-pointer
  }
  .nav {
    @apply text-darkGray no-underline hover:text-black
  }
  .service {
    @apply py-7 flex flex-col items-center gap-2 rounded-lg hover:bg-white hover:shadow-lg smooth-transition max-w-[280px]
  }
  .comment {
    @apply rounded p-3 bg-darkGreen max-w-[350px] min-h-[200px] shadow-md
  }
  h6 div {
    @apply cursor-pointer
  }
  
  .buttonWhite {
    @apply bg-white border border-darkGreen text-darkGreen hover:bg-darkGreen hover:text-white rounded
  }
  .buttonBlue {
    @apply bg-darkGreen border border-darkGreen hover:bg-blue-800 rounded text-white
  }
  .icon {
    @apply text-darkGreen
  }
  input {
    @apply outline-none text-darkGray
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
